.color {
    color:#FF6161, #63E6bE, #FFA047, #FFD43B, #74C0FC, #B197FC
}

.button-hover-green:hover{
background-color: #63E6bE;
transition: .5s;
}

.btn-correct {
    display: inline-block;
    background-color: #63E6bE;
    width: 83.02px;
    height: 36.5px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    text-align: center;
}

.btn-incorrect {
    background-color: #FF6161;
    width: 83.02px;
    height: 36.5px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    text-align: center;
}


